In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#The data file represents the annual net income for all US arlines combined. The information accounts for
# 2000-2020. Summary totals are shown for all airports and all carriers.
revenue = pd.read_csv("../Resources/Yearly_Income.csv")
revenue.tail()

,Year,Quarter,DOMESTIC,LATIN AMERICA,ATLANTIC,PACIFIC,INTERNATIONAL,TOTAL
99,2019,TOTAL,"15,707,223","1,549,883","378,323","-950,769","-252,138","16,432,523"
100,2020,1,"-3,227,152","-251,044","-924,766","-553,586","12,488","-4,944,059"
101,2020,2,"-8,050,996","-432,400","-1,134,773","-720,025","381,609","-9,956,585"
102,2020,3,"-8,832,375","-609,655","-763,418","-386,205","191,555","-10,400,098"
103,2020,TOTAL,"-20,110,523","-1,293,098","-2,822,957","-1,659,815","585,652","-25,300,741"

In [37]:
#For this analysis, I will only be using data for the most recent five years.
five_year_df = revenue.tail(29)
five_year_df = five_year_df.reset_index(drop=True)

#Let's rename the columns
five_year_df = five_year_df.rename(columns={'DOMESTIC':'Domestic',
                   'LATIN AMERICA':'Latin_America',
                   'ATLANTIC':'Atlantic',
                   'PACIFIC':'Pacific',
                   'INTERNATIONAL':'International',
                   'TOTAL':'Total'})
#Display dataframe
five_year_df.head(10)

,Year,Quarter,Domestic,Latin_America,Atlantic,Pacific,International,Total
0,2015,1,"3,055,504","213,705","152,544","79,301","43,486","3,544,541"
1,2015,2,"4,678,728","158,598","655,387","201,055","38,855","5,732,622"
2,2015,3,"6,494,263","604,630","1,683,382","888,611","-15,769","9,655,117"
3,2015,4,"6,983,407","25,921","407,138","-7,333","38,520","7,447,652"
4,2015,TOTAL,"21,211,902","1,002,854","2,898,451","1,161,633","105,091","26,379,931"
5,2016,1,"2,856,167","362,407","43,896","226,726","5,922","3,495,119"
6,2016,2,"4,229,096","279,168","326,080","257,402","2,399","5,094,145"
7,2016,3,"3,407,438","266,508","351,436","163,709","6,472","4,195,563"
8,2016,4,"2,861,738","141,921","-91,411","-168,870","81,537","2,824,916"
9,2016,TOTAL,"13,354,439","1,050,005","630,002","478,968","96,330","15,609,744"

In [57]:
# Let's store the totals for domestic flights from 2015-2020 into variables for plotting

domestic_2015 = five_year_df.loc[4].iat[2]
domestic_2016 = five_year_df.loc[9].iat[2]
domestic_2017 = five_year_df.iloc[14,2]
domestic_2018 = five_year_df.iloc[19,2]
domestic_2019 = five_year_df.iloc[24,2]
domestic_2020 = five_year_df.iloc[28,2]

yearly_income = {domestic_2015, 
               domestic_2016, 
               domestic_2017, 
               domestic_2018, 
               domestic_2019, 
               domestic_2020}
yearly