In [2]:
import pandas as pd

In [4]:
revenue = pd.read_csv("../Resources/Yearly_Income.csv")
revenue.head()

,Year,Quarter,DOMESTIC,LATIN AMERICA,ATLANTIC,PACIFIC,INTERNATIONAL,TOTAL
0,2000,1,"139,162","58,927","-68,918","-106,308",839,"23,702"
1,2000,2,"1,570,500","-86,040","250,371","154,724","9,541","1,899,096"
2,2000,3,"548,903","33,056","226,224","83,675","45,470","937,327"
3,2000,4,"-267,068","6,639","-95,916","5,533","23,388","-327,425"
4,2000,TOTAL,"1,991,496","12,581","311,761","137,623","79,238","2,532,700"